<h1><%= @athlete.full_name %></h1>
<p><span class="label">Club</span><span><%= @athlete.club.name %></span></p>
<p><span class="label">Category</span><span><%= @athlete.category(Date.today) %></span></p>
<p>The results of the last 10 races for this person will be displayed below :-)</p>