<%= provide(:title, "#{@athlete.full_name}".html_safe) %>
<div class="medium-6 columns small-centred">
  <h1><%= @athlete.full_name %></h1>
  <div class="field">
    <div class="small-4 columns"><p>Club</p></div>
    <div class="small-8 columns">
      <p><%= @athlete.club.name %>&nbsp;<% if @athlete.second_claim? %><small>(Second claim)</small><% end %></p></div>
  </div>
  <div class="field">
    <div class="small-4 columns"><p>Category</p></div>
    <div class="small-8 columns"><p><%= @athlete.category(Date.today) %></p></div>
  </div>
<p>The results of the last 10 races for this person will be displayed below :-)</p>
</div>