<%= provide(:title, "Edit single result") %>
<div class="medium-6 small-centered columns">
<h1>Edit a single result</h1>
<p>This form is only used to edit a single result in a given race, probably as a result of a query.</p>
<%= render 'form' %>
</div>