<fieldset class="race_fields">
  <p>
    <label for="races[][classification]">Classification</label>
    <input type="text" name="races[][classification]" id="races[][classification]">
  </p>
  <p>
    <input type="checkbox" name="races[][score_by_division]" value="1"  id="races[][score_by_division]">
    <label for="races[][score_by_division]">Scored by division?</label>
    <input type="checkbox" name="races[][score_by_category]" value="1"  id="races[][score_by_category]">
    <label for="races[<][score_by_category]">Scored by category?</label>
  </p>
  <p>
    <label for="races[][scorers]">Scorers per team</label>
    <input type="number" name="races[][scorers]" min="1" value="4" id="races[][scorers]">
  </p>
</fieldset>