/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$button-blue: #3F88CC; 
html {
  height: 100%;
  font-size: 100%;
}
body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
 // sticky footer
 .wrapper {
  min-height: 100%;
  margin-bottom: -3em;
  &:after {
    content: "";
    display: block;
  }
 }
 .wrapper:after,
 footer {
  height: 3em;
 }
 a {
  text-decoration: none;
 }
 ul {
  padding: 0;
  margin: 0;
 }
 #logo {
  float: left;
  color: #fff;
  margin: 0;
 }
footer,
.navbar {
  background-color: #222;
  color: #fff;
  padding: 1em 0;
  ul {
    float: right;
    // text-align: right;
  }
  li {
    list-style: none;
    display: inline-block;
    margin-left: 0.5em;
  }
  a {
    color: #999;
  }
}
.inner {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  & h1 {
    line-height: 1;
  }
}
.flash {
  text-align: center;
  border: 2px solid;
  padding: 1em;
  margin: 0.5em 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.success {
  background-color: lightgreen;
  color: green;
}
.error {
  background-color: lightcoral;
  color: red;
}
.notice {
  background-color: #F0BF24;
}
// Table styling
table {
    width: 80%;
    text-align: center;
    table-layout: fixed;
    margin: 0 auto;
    border: 1px solid;
    a {
    padding: 0.25em;
    border-radius: 3px;
    margin-bottom: 0.25em;
  }
}
tr {
    padding: 0.25em 0;
    margin-bottom: .25em;
}

// Buttons
.button {
  display: inline-block;
  background: $button-blue;
  color: #fff;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.large {
  margin: 1em 0;
  padding: 1em;
}
.small {
  padding: 0.25em;
}