<footer><div class="inner">
    <div class="copyright">
      &copy; Surrey Ladies Cross-Country League <%= Date.today.strftime("%Y") %>
    </div>
    <div class="quick-links">
      <ul>
      <li><%= link_to 'Contact', '#' %></li>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Help', '#' %></li>
      </ul>
    </div>
  </div>
</footer>