<header>
  <nav class="navbar">
    <div class="inner">
      <div id="logo">
        <%= link_to 'Logo', root_path %>
      </div>
      <ul>
        <li><%= link_to 'Seasons', seasons_path %></li>
        <li><%= link_to 'Athletes', athletes_path %></li>
        <li><%= link_to 'Clubs', clubs_path %></li>
      </ul>
    </div>    
  </nav>
</header>