<header>
  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Logo', root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>
  
      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to 'Seasons', seasons_path %></li>
          <li><%= link_to 'Athletes', athletes_path %></li>
          <li><%= link_to 'Clubs', clubs_path %></li>
        </ul>
      </section>
    </nav>
  </div>
</header>